.exploreList {
    max-width: 79px;
}

.exploreList li {
    list-style-type: none;
}

.exploreList a {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    color: var(--main-light);
    text-decoration: none;
    transition: color 0.3s ease 0s, left 0.3s ease 0s;
}

.exploreList a:hover {
    cursor: pointer;
}

/* *** START HOVER UNDERLINE *** */
.exploreList a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: var(--main-light);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.exploreList a:hover:after {
    width: 100%;
    left: 0;
}

/* *** END HOVER UNDERLINE *** */
.navLinkAbout:hover {
    color: var(--about);
}

a.navLinkAbout:after {
    background: var(--about);
}

.navLinkGarden:hover {
    color: var(--garden);
}

a.navLinkGarden:after {
    background: var(--garden);
}