:root {
    --main-light: rgb(247, 247, 247);
    --main-dark: rgb(40, 40, 45);
}

div, span, a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--main-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-light);
}

/* HOMEPAGE STYLES */
body.homepage {
    background-color: var(--main-dark);
}
/* END HOMEPAGE STYLES */