.container {
    margin: 3%;
    max-width: 90em;
    font-family: 'Helvetica Neue', sans-serif;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}