.container {
    margin: 90px 20% 3% 20%;
    max-width: 90em;
    font-family: 'Helvetica Neue', sans-serif;
}

.nav-container {
    align-self: center;
}

.nav-container a {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}

.navbar {
    background: var(--main-dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.navbar .nav-link-text {
    color: var(--main-light)
}
.site-logo {
    display: flex;
}
.site-logo-link {
    color: var(--main-dark);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches';
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    width: 4.25em;
    margin: 10px;
    background-color: var(--main-light);

}